* {
    box-sizing: border-box;
}

body{
  background: #f0f0f0;
  font-family: 'Arvo', serif;
  font-family: 'Oxygen', sans-serif;



}

a{
  background-color: transparent;
}
div{
  display: block;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2147482999;
  display: block;
}
.head{
    position: relative;
    z-index: 2;
    background: #fff;
    transition: .4s height;
}
.container{
    width: 1343px;
    left: 10px;
    position: relative;
    margin: 0 auto;
    height: 100%;
}
.registro{
    position: relative;
    float: right;
    top: 50%;
    margin-top: 26px;
}
.links{
    position: relative;
    float: left;
    top: 50%;
    margin-top: 33px;
}
.account{
  margin-left: 25px;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  height: 56px;
  border-radius: 28px;
  padding: 0 22px 2px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 50px;
  vertical-align: middle;
  background: 0 0;
  color: #000;
  border: 2px solid rgba(55,37,211,.12);
  text-decoration: none;
}

.item{
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  color: #141222;
  text-decoration: none!important;
  sline-height: 1.25;
  font-size: 20px;
  margin-right: 44px;
}
